.wish-form__controls {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  color: rgb(0, 0, 0);
}

.wish-form h3 {
  text-align: center;
}

.wish-form__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.wish-form__control input,
select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.wish-form__actions {
  text-align: right;
}
