#main-header {
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 1rem; /* Adicionei padding horizontal para espaçar os elementos */
    background-color: #333; /* Alterei a cor de fundo para um tom mais escuro */
    color: #fff; /* Cor do texto */
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    
}

.header-content {
    display: flex; /* Alinhe os itens horizontalmente */
    align-items: center; /* Alinhe os itens verticalmente */
}

.header-content h1 {
    font-size: 1.5rem; /* Tamanho maior para o título principal */
    margin-right: 1rem; /* Adicionei margem à direita para separá-lo */
}

.header-content h3 {
    font-size: 1.2rem; /* Tamanho menor para os links */
    margin-left: 1rem; /* Adicionei margem à esquerda para separar os links */
    text-decoration: none;
    color: aqua;
}

.header-content h3:hover {
    text-decoration: underline; /* Sublinhe os links ao passar o mouse */
}

/* Estilize os links de navegação de forma consistente */
.header-content a {
    text-decoration: none;
    color: aqua;
    margin-left: 1rem; /* Adicionei margem à esquerda para separar os links */
}

.header-content a:hover {
    text-decoration: underline; /* Sublinhe os links ao passar o mouse */
}
